@model ReservationAddEditViewModel

@{
    Layout = null;
}

<link href="~/css/admin-style/edit-reservation-style.css" rel="stylesheet">

<form id="editForm" class="reservationForm modal-content" method="post" asp-action="UpdateReservationStatus" asp-controller="ReservationsManagement">
    <span class="fs-4 close" onclick="closeReservationForm()" style="cursor: pointer;"><i class="fa-solid fa-xmark"></i></span>
    <h2 class="modalTitle">Chi tiết đặt lịch</h2>
    <div>
        <p>Mã đặt lịch: <strong>@Model.Reservation.ID</strong></p>
        <input class="form-input" type="hidden" asp-for="@Model.Reservation.ID">
    </div>

    <div class="d-flex gap-5">
        <div class="form-group">
            <label>Họ và Tên:</label>
            <input class="form-input" asp-for="@Model.Reservation.FullName" type="text" id="editName" readonly>
        </div>
        <div class="form-group">
            <label>Số Điện Thoại:</label>
            <input class="form-input" asp-for="@Model.Reservation.PhoneNumber" type="text" id="editPhone" readonly>
        </div>
    </div>

    <div class="d-flex gap-5">
        <div class="form-group">
            <label>Ngày Đặt:</label>
            <input class="form-input" type="datetime-local"
                value="@Model.Reservation.CreatedDate.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")" readonly />
        </div>
        <div class="form-group">
            <label>Ngày ghé:</label>
            <input class="form-input" type="datetime-local"
                value="@Model.Reservation.ReservationDate.ToLocalTime().ToString("yyyy-MM-ddTHH:mm")" readonly />
        </div>

    </div>

    <div class="form-group">
        <label>Tình Trạng:</label>
        <select class="form-input" asp-for="@Model.Reservation.ReservationStatus" id="editStatus">
            <option value="Chưa ghé">Chưa ghé</option>
            <option value="Đã ghé">Đã ghé</option>
            <option value="Đã hủy">Đã hủy</option>
        </select>
    </div>

    <div class="form-group">
        <label>Chi Tiết Dịch Vụ:</label>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên Dịch Vụ</th>
                        <th>Giá Tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var service in Model.Services)
                    {
                        <tr>
                            <td>@service.ServiceName</td>
                            <td>@service.Price.ToString("C0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="button-group">
        <button class="save-btn" type="submit">Lưu</button>
        @* <button class="cancel-btn" type="button" onclick="closeReservationForm()">Hủy</button> *@
    </div>
</form>